<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.financial.management">

    <application
        android:name=".UniteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="黑子记账App"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final">


        <activity android:name=".Registerfragment"></activity>
        <activity android:name=".Search"></activity>
        <activity android:name=".About"></activity>
        <activity android:name=".History"></activity>
        <activity android:name=".Setting"></activity>
        <activity android:name="com.financial.management.RecordActivity"/>
        <activity android:name="com.financial.management.WelcomeActivity"/>
        <activity android:name="com.financial.management.MainActivity"/>
            <activity android:name="com.financial.management.StartView">


        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>